<h1>Logout</h1>
<p>Thank you for taking the time to logout so no one steals your information or erases your hard drive like this one person I know who erased his girl friends hard drive and was too embarassed to take it into the genius bar</p>

<br></br>

<form action="/welcome/index" method="get">
 <p></p>
  <input type="submit" value="Home Page" />
</form>
