<h1>Welcome</h1>

<!-- this takes us to our login page -->
<form action="/login/login" method="get">
 <p>Please Login if you already have an account</p>
  <input type="submit" value="Login" />
</form>

  <br></br>

<p>Please Type in your Registration Info</p>
<br></br>
<%= flash[:alert] %>

<!-- we start out on the index page and when we click register button, it POST information to the server -->
<form action="/welcome/register" method="post">

<!-- label allows us to write title User Name: next to the text input box -->
<!-- id was created to match the label. label and ID is just for HTML. capybara is fantastic for finding IDS. name matches with the params in the controller.  -->
<label for="user_name">User Name: </label>
<input id="user_name" type="text" name="user_name" placeholder="Required" title="Must contain at least one uppercase and lowercase letter, and at least 6 or more characters" style="width:100px; height:20px;" autofocus required/>
<br></br>


<label for="password">Password: </label>
<input id="password" type="text" name="password" placeholder="Required" title="Must contain at least one uppercase and lowercase letter, !#$, and at least 6 or more characters" style="width:100px; height:20px;" autofocus required/>

<br></br>

  <label for="full_name">Full Name: </label>
  <input id="full_name" type="text" name="full_name"/>
  <br></br>

  <label for="street_address">Street Address: </label>
  <input id="street_address" type="text" name="address"/>
  <br></br>

  <label for="city">City: </label>
  <input id="city" type="text" name="city"/>
  <br></br>

<!-- the column for postal is actually called the state input box -->
  <label for="postal">State: </label>
  <input id="postal" type="text" name="postal"/>
  <br></br>

  <label for="country">Country: </label>
  <input id="country" type="text" name="country"/>
  <br></br>

  <label for="email">Email: </label>
  <input id="email" type="text" name="email"/>
  <br></br>

  <label for="phone">Phone Number(s): </label>
  <input id="phone1" type="text" name="phone1"/>
  <input id="phone2" type="text" name="phone2"/>
  <input id="phone3" type="text" name="phone3"/>

  <br></br>
  <br></br>

<!-- this registers our input into the database -->
  <input type="submit" value="Register" />

</form>

<br></br>
<br></br>
