<h1>Login</h1>

<form action="/login/submit" method="post">

  <label for="user_name">User Name: </label>
  <input id="user_name" type="text" name="user_name" placeholder="Required"  title="Must contain at least one uppercase and lowercase letter, and at least 6 or more characters" style="width:100px; height:20px;" autofocus required/>
  <br></br>


  <label for="password">Password: </label>
  <input id="password" type="text" name="password" placeholder="Required" title="Must contain at least one uppercase and lowercase letter, !#$, and at least 6 or more characters" style="width:100px; height:20px;" autofocus required/>

  <br></br>
  <%= flash[:alert] %>

  <br></br>
  <br></br>

  <input type="submit" value="Submit" />

</form>
